@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  text-decoration: none;
  list-style: none;
}

html, body, .app {
  background-color: azure;
  background-color: #190e20;

  width: 100%;
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.app {
  display: flex;
  flex-direction: column  ;
  align-items: center;
  justify-content: center;

  max-width: 136.6rem;
  margin-inline: auto;
}

h1 {
  margin-bottom: 4rem;
  font-family: Comfortaa,cursive;
  text-transform: uppercase;
  font-size: 3.5rem;
  font-weight: 700;
  color: aliceblue;
}
h1 span {
  color: blueviolet;
  font-size: 2.5rem;
}

.links-forms li {
  display: inline-block;
  margin: 0 auto;

  margin: 1rem;
}

.links-forms li a {
  display: inline-block;
  width: 35rem;
  height: 20rem;
  background-color: rebeccapurple;
  border-radius: 1rem;

  font-family: Comfortaa,cursive;

  opacity: .8;

  transition: transform .4s cubic-bezier(0.19, 1, 0.22, 1);
}
.links-forms li a { 
  background-size: 100%;
  background-repeat: no-repeat;
}
.links-forms #form1 {
  background-image: url(../assets/form1.png);
}
.links-forms #form2 {
  background-image: url(../assets/form2.png);
}
.links-forms #form3 {
  background-image: url(../assets/form3.png);
}
.links-forms li a:hover {
  transform: scale(1.5);
  opacity: 1;
  box-shadow: .2rem .2rem 1rem rgba(0, 0, 0, .5);
}


.socials {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 2rem;

  transition: all .3s;
}
.socials img {
  width: 4rem;
  transition: all .3s;

}

.socials img:hover {
  transform: translateY(-.7rem);
}